# Python 虚拟环境
venv/
env/
.env/
.venv/

# Python 编译文件
__pycache__/
*.py[cod]
*$py.class

# 操作系统生成文件
.DS_Store
Thumbs.db

# 环境变量文件
.env

# 编辑器/IDE 配置文件
.vscode/
.idea/
*.swp
*.swo

# 日志文件
*.log

# 测试数据
benchmark_output/
benchmark_output_new/

# 打包产物
dist/

# 其他数据
*.txt